@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
header {
    display: flex;
    border-bottom: 1px solid black;
    justify-content: space-between;
    align-items: flex-end;
    background-image: url("images/fond_jaune.png");
}

body {
    font-family: 'poppins', sans-serif;
    background-image: url("images/fond_jaune.png");
    margin: auto;
}

#group {
    margin: auto;
    width: 950px;
}

nav .ul1 {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin-right: 10PX;
}

nav ion-icon {
    display: flex;
    font-size: 50px;
    color: black;
    list-style-type: none;
    margin: auto;
    display: none;
}

.ul2 {
    background: #111;
    color: white;
    margin-top: -10px;
    display: none;
}

.ul2 li {
    list-style-type: none;
    color: black;
    font-size: 1em;
    margin: auto;
    padding: 5px 10px;
}

.ul2 a {
    text-decoration: none;
    color: white;
}

nav a {
    text-decoration: none;
}

nav li {
    margin-right: 20px;
}

#icone {
    display: flex;
    align-items: baseline;
    margin-bottom: 0px;
}

#logo {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

header h1 {
    margin-bottom: 0px;
}

header h2 {
    margin-top: 0px;
}

#description {
    color: white;
    background-color: rgba(0, 0, 0, 0.336);
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    width: 100%;
    align-self: flex-end;
    height: 20%;
}

#description a {
    margin-right: 5px;
    text-decoration: none;
    background-image: url("images/fond_degraderouge.png");
    color: white;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

#baniere {
    margin: auto;
    position: absolute;
    background-image: url("images/sanfrancisco.jpg");
    background-size: cover;
    height: 200px;
    width: 950px;
    display: flex;
    margin-top: 20px;
}

#description img {
    margin-left: 5px;
}

#description span {
    margin-left: 5px;
}

section {
    margin-top: 230px;
    display: flex;
    align-items: flex-start;
}

article {
    flex: 3;
}

aside {
    background-color: #706b64;
    flex: 1;
    color: white;
    text-align: justify;
    border-radius: 8px;
    margin-top: 40px;
    font-size: 0.74em;
    position: relative;
    box-shadow: 0px 2px 5px #1c1a19;
    height: 400px;
}

#zozorclasse,
aside h1 {
    text-align: center;
}

#bulle {
    position: absolute;
    left: -12px;
    top: 120px;
}

p {
    padding-right: 10px;
    padding-left: 10px;
}

#media {
    display: flex;
    justify-content: space-around;
}

footer {
    display: flex;
    justify-content: space-between;
    font-size: 1em;
}

#liste {
    display: flex;
}

#liste ul {
    list-style-type: none;
}

#photos img {
    margin-right: 3px;
}

#photos {
    text-align: center;
}

#amis h2 {
    text-align: center;
}

@media all and (max-width: 1024px) {
    #group {
        margin: auto;
        width: auto;
    }
    nav {
        width: auto;
        text-align: left;
    }
    nav ul {
        flex-direction: column;
    }
    nav a {
        font-size: 1.1em;
    }
    nav li {
        padding-left: 4px;
    }
    nav a:hover {
        font-size: 1.1em;
        border-bottom: none;
    }
    #baniere {
        display: none;
    }
    section {
        flex-direction: column;
        margin: auto;
    }
    section aside {
        margin: auto;
        margin-top: 40px;
        width: auto;
    }
    #zozorclasse {
        float: left;
    }
    img[alt="zozor_classe"] {
        width: 100px;
    }
    #media img {
        width: 30px;
    }
    #bulle {
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        top: -14px;
        left: 320px;
    }
    nav .ul1 {
        display: none;
    }
    nav ion-icon {
        display: flex;
        font-size: 50px;
        color: black;
        list-style-type: none;
        margin: auto;
    }
    nav ion-icon:hover .ul2 {
        display: block;
    }
    .ul2 {
        background: #111;
        color: white;
        margin-top: -10px;
        display: block;
    }
    .ul2 li {
        list-style-type: none;
        color: black;
        font-size: 1em;
        margin: auto;
        padding: 5px 10px;
    }
    .ul2 a {
        text-decoration: none;
        color: white;
    }
}